#include <windows.h>
#include <afxres.h>
#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "游戏登录器"
FONT 9, "Microsoft YaHei"
BEGIN
    GROUPBOX        "快捷功能",IDC_STATIC,7,7,386,50
    DEFPUSHBUTTON   "官网",IDC_WEBSITE_BTN,15,22,50,25
    PUSHBUTTON      "充值",IDC_RECHARGE_BTN,72,22,50,25
    PUSHBUTTON      "客服",IDC_SUPPORT_BTN,129,22,50,25
    PUSHBUTTON      "注册",IDC_REGISTER_BTN,186,22,50,25

    GROUPBOX        "公告",IDC_STATIC,7,62,386,60
    LTEXT           "欢迎使用游戏登录器！",IDC_ANNOUNCEMENT,15,75,370,40

    GROUPBOX        "服务器列表",IDC_STATIC,7,127,386,100
    LISTBOX         IDC_SERVER_LIST,15,142,370,75,LBS_SORT | WS_VSCROLL | WS_TABSTOP

    CONTROL         "",IDC_PROGRESS_BAR,"msctls_progress32",WS_BORDER,7,232,386,14
    LTEXT           "就绪",IDC_STATUS_TEXT,7,252,386,10
    DEFPUSHBUTTON   "进入游戏",IDC_START_GAME,150,267,100,25
END
