#include <windows.h>
#include <afxres.h>
#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Game Launcher"
FONT 9, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Functions",IDC_STATIC,7,7,386,50
    DEFPUSHBUTTON   "Website",IDC_WEBSITE_BTN,15,22,50,25
    PUSHBUTTON      "Recharge",IDC_RECHARGE_BTN,72,22,50,25
    PUSHBUTTON      "Support",IDC_SUPPORT_BTN,129,22,50,25
    PUSHBUTTON      "Register",IDC_REGISTER_BTN,186,22,50,25

    GROUPBOX        "Notice",IDC_STATIC,7,62,386,60
    LTEXT           "Welcome to Game Launcher!",IDC_ANNOUNCEMENT,15,75,370,40

    GROUPBOX        "Server List",IDC_STATIC,7,127,386,100
    LISTBOX         IDC_SERVER_LIST,15,142,370,75,LBS_SORT | WS_VSCROLL | WS_TABSTOP

    CONTROL         "",IDC_PROGRESS_BAR,"msctls_progress32",WS_BORDER,7,232,386,14
    LTEXT           "Ready",IDC_STATUS_TEXT,7,252,386,10
    DEFPUSHBUTTON   "Start Game",IDC_START_GAME,150,267,100,25
END
