#include <windows.h>
#include <afxres.h>
#include "resource.h"

IDD_GENERATOR_DIALOG DIALOGEX 0, 0, 450, 370
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Launcher Generator"
FONT 9, "MS Sans Serif"
BEGIN
    GROUPBOX        "",IDC_GROUPBOX1,7,7,436,100
    LTEXT           "",IDC_LABEL_WEBSITE,15,22,60,10
    EDITTEXT        IDC_WEBSITE_EDIT,80,20,356,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_LABEL_RECHARGE,15,42,60,10
    EDITTEXT        IDC_RECHARGE_EDIT,80,40,356,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_LABEL_SUPPORT,15,62,60,10
    EDITTEXT        IDC_SUPPORT_EDIT,80,60,356,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_LABEL_REGISTER,15,82,60,10
    EDITTEXT        IDC_REGISTER_EDIT,80,80,356,12,ES_AUTOHSCROLL

    GROUPBOX        "",IDC_GROUPBOX2,7,112,436,80
    LTEXT           "",IDC_LABEL_SERVERLIST,15,127,60,10
    EDITTEXT        IDC_SERVER_LIST_EDIT,80,125,356,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_LABEL_PATCH,15,147,60,10
    EDITTEXT        IDC_PATCH_EDIT,80,145,356,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_LABEL_PATCHKEY,15,167,60,10
    EDITTEXT        IDC_PATCH_KEY_EDIT,80,165,356,12,ES_AUTOHSCROLL

    GROUPBOX        "",IDC_GROUPBOX3,7,197,436,70
    LTEXT           "",IDC_LABEL_CLIENT,15,212,60,10
    EDITTEXT        IDC_CLIENT_EDIT,80,210,356,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_LABEL_INJECT_DLL,15,232,60,10
    EDITTEXT        IDC_INJECT_DLL_EDIT,80,230,356,12,ES_AUTOHSCROLL

    PUSHBUTTON      "",IDC_SAVE_BTN,15,287,100,25
    PUSHBUTTON      "",IDC_LOAD_BTN,122,287,100,25
    DEFPUSHBUTTON   "",IDC_GENERATE_BTN,229,287,100,25
    PUSHBUTTON      "",IDC_OPEN_DIR_BTN,336,287,100,25
END
