#include <windows.h>
#include "resource.h"

IDD_GENERATOR_DIALOG DIALOGEX 0, 0, 450, 350
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Launcher Generator"
FONT 9, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Website Config",IDC_STATIC,7,7,436,100
    LTEXT           "Website:",IDC_STATIC,15,22,40,10
    EDITTEXT        IDC_WEBSITE_EDIT,60,20,376,12,ES_AUTOHSCROLL
    LTEXT           "Recharge:",IDC_STATIC,15,42,40,10
    EDITTEXT        IDC_RECHARGE_EDIT,60,40,376,12,ES_AUTOHSCROLL
    LTEXT           "Support:",IDC_STATIC,15,62,40,10
    EDITTEXT        IDC_SUPPORT_EDIT,60,60,376,12,ES_AUTOHSCROLL
    LTEXT           "Register:",IDC_STATIC,15,82,40,10
    EDITTEXT        IDC_REGISTER_EDIT,60,80,376,12,ES_AUTOHSCROLL

    GROUPBOX        "Patch & Server Config",IDC_STATIC,7,112,436,80
    LTEXT           "Server List:",IDC_STATIC,15,127,60,10
    EDITTEXT        IDC_SERVER_LIST_EDIT,80,125,356,12,ES_AUTOHSCROLL
    LTEXT           "Patch File:",IDC_STATIC,15,147,60,10
    EDITTEXT        IDC_PATCH_EDIT,80,145,356,12,ES_AUTOHSCROLL
    LTEXT           "Patch Key:",IDC_STATIC,15,167,60,10
    EDITTEXT        IDC_PATCH_KEY_EDIT,80,165,356,12,ES_AUTOHSCROLL

    GROUPBOX        "Client Config",IDC_STATIC,7,197,436,50
    LTEXT           "Client:",IDC_STATIC,15,212,60,10
    EDITTEXT        IDC_CLIENT_EDIT,80,210,356,12,ES_AUTOHSCROLL

    PUSHBUTTON      "Save Config",IDC_SAVE_BTN,15,257,100,25
    PUSHBUTTON      "Load Config",IDC_LOAD_BTN,122,257,100,25
    DEFPUSHBUTTON   "Generate",IDC_GENERATE_BTN,229,257,100,25
    PUSHBUTTON      "Open Dir",IDC_OPEN_DIR_BTN,336,257,100,25
END
